* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* header */
div.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.row {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.first_col_right {
    width: 20%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.button {
    background-color: #4a4a4a;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 0px 5px;
}

/* main */
div.main_container {
    width: 100%;
    height: 100vh; /* 70vh */
    overflow: auto;
}

div.row_main {
    width: 90%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.column_main {
    width: calc(100% / 7 - 20px);
    height: 900px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

div.card {
    width: 100%;
    height: calc(100% / 5 - 20px);
    margin: 10px 0px;
    background-image: url("https://picsum.photos/id/237/200/300");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

div.pinco_pallo {
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(79, 94, 108, 0.4);
    padding: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* footer */
div.cl_dif {
    background-color: #222222;
}

div.row_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.last_cols {
    width: auto;
    height: auto;
    color: white;
    position: relative;
}

.fa-solid {
    font-size: 30px;
}

.fa-angle-up {
    font-size: 10px;
}

.options {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

span.info {
    display: block;
    padding: 5px;
}

div.end {
    background-color: #4a4a4a;
    color: red;
    line-height: 85px;
    padding: 0px 20px;
}

.fa-house {
    color: green;
}






























